.filter {
  &__inner {
    border-radius: 16px;
    background-color: $white;
    padding: 29px 30px;
    max-width: 285px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }

  &__btn {
    display: none;
    position: relative;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;

    span {
      position: absolute;
      top: 8px;
      left: 0;
      width: 19px;
      height: 2px;
      background-color: $black;
    }

    span:first-child {
      transform: rotate(45deg);
    }

    span:last-child {
      transform: rotate(-45deg);
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    padding: 16px 8px 40px;
    background-color: $bg;
    border-radius: 14px;
    height: calc(100% - 50px);
  }

  &__label {
    position: relative;
    display: block;
    cursor: pointer;
    color: $text;
    padding: 0 15px;
    margin-bottom: 18px;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &__input:checked + .filter__label,
  &__label:has(.filter__input:checked) {
    padding: 16px 15px;
    color: $black;
    background-color: $white;
    border-radius: 10px;
  }

  &__text {
    @extend %inter-400;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 178px;
    bottom: 23px;
    color: $gray;
  }
}

.catalog {
  border-radius: 16px;
  background-color: $white;
  padding: 29px 30px;
  width: 100%;

  &-slider {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000, $alpha: 0.3);
    top: 0;
    left: 0;
    z-index: 30;
    transition: opacity 0.3s ease;

    &--active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-slider__btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 18px;
    right: 18px;
    cursor: pointer;
    z-index: 40;
  }

  &-slider__inner {
    position: relative;
    width: 960px;
    height: 624px;
    background-color: $white;
    border-radius: 10px;
    margin: calc((100vh - 639px) / 2) auto;
  }

  &-slider__list {
    @extend %slider;
    width: 100%;
    height: 100%;

    .slick-dots {
      bottom: 35px;
    }

    .slick-arrow {
      top: auto;
      bottom: 3px;
    }

    .slick-prev {
      left: 323px;
    }

    .slick-next {
      right: 323px;
    }
  }

  &-slider__item {
    padding: 30px;
    height: 580px;
  }

  &-slider__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 28px;
  }

  &__dropdown {
    position: relative;
  }

  &__btn {
    position: relative;
    color: $gray;
    background-color: transparent;
    border: none;
    padding-right: 22px;
    cursor: pointer;

    &--active + .catalog__form {
      opacity: 0.9;
      pointer-events: all;
    }

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 5px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  &__form {
    position: absolute;
    padding: 8px;
    width: 163px;
    background-color: $bg;
    color: $gray;
    border-radius: 5px;
    margin-top: 8px;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
  }

  &__label {
    display: block;
    text-align: left;
    cursor: pointer;

    & + .catalog__label {
      margin-top: 8px;
    }
  }

  &__input {
    width: 0;
    height: 0;
    position: absolute;
  }

  &__label:has(input:checked) {
    color: $black;
  }

  &__options {
    display: none;
    position: relative;
    background-color: transparent;
    border: none;
    color: $gray;
    cursor: pointer;
    padding-left: 32px;

    &::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/options.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 21px;
  }

  &__item {
    position: relative;
    border-radius: 14px;
    background-color: $bg;
    width: 200px;
    padding: 17px 0 16px;
    overflow: hidden;
    margin: 0 auto;

    &:hover {
      .catalog__cart-btn {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }
    }

    &--new {
      position: relative;
      &::before {
        content: "new";
        position: absolute;
        @extend %inter-700;
        width: 46px;
        height: 46px;
        top: 14px;
        left: 14px;
        font-size: 11px;
        color: $tag-new;
        padding: 15px 11px;
        border-radius: 4px;
        text-transform: uppercase;
        background-image: url("../images/tag-new.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
  }

  &__wrapper {
    @extend %inter-400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text;
    max-width: 168px;
    padding-bottom: 14px;
    margin: 0 auto;

    &--title {
      color: $black;
      font-size: 14px;
      padding-top: 14px;
      border-top: 1px solid $text;
      margin: 0 auto;
    }
  }

  &__title {
    @extend %inter-500;
  }

  &__price {
    @extend %inter-600;

    &::after {
      content: "₽";
      @extend %inter-400;
      font-size: 10px;
      font-weight: 500;
      color: $dark-gray;
    }
  }

  &__text {
    font-size: 12px;
    color: $text;
    margin: 0 auto;
    max-width: 168px;
  }

  &__cart-btn {
    position: absolute;
    width: 100%;
    height: 44px;
    bottom: 0;
    background-color: $brown;
    border: none;
    border-radius: 0 0 14px 14px;
    color: $white;
    cursor: pointer;
    padding-left: 35px;
    z-index: 10;
    transform: translateY(101%);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    z-index: 20;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      left: 48px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/cart.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}
