.footer {
  background-color: $black;
  color: $gray;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 29px 0 28px;
    gap: 11px;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
  }

  &__privacy,
  &__number {
    transition: border-bottom 0.1s ease;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: $gray;
    }
  }
}
