@media screen and (max-width: 1230px) {
  // start HEADER

  .header {
    &-top {
      font-size: 12px;
    }
  }

  // end HEADER

  // start SLIDER

  .container {
    padding: 0 15px;
  }

  // end SLIDER
}

@media screen and (max-width: 1200px) {
  // start SLIDER

  .slider {
    &__img {
      height: 250px;
    }
  }

  // end SLIDER

  // start CATALOG

  .catalog {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      width: auto;
    }

    &__wrapper {
      max-width: calc(100% - 20px);
    }

    &__text {
      max-width: calc(100% - 20px);
    }
  }

  // end CATALOG
}

@media screen and (max-width: 1070px) {
  // start SLIDER

  .slider {
    &__img {
      height: 200px;
    }
  }

  // end SLIDER
}

@media screen and (max-width: 970px) {
  // start HEADER

  .header {
    &-top {
      font-size: 10px;
    }

    .logo {
      margin-right: 20px;
    }

    .menu {
      &__list {
        gap: 12px;
      }
    }

    &__btn {
      font-size: 0;
      line-height: 0;
      border-radius: 50%;
      padding: 20px;
      margin-right: 20px;

      &::before {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .user-nav {
    font-size: 0;
    line-height: 0;
    border: none;
    padding: 11px;

    &::before {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // end HEADER

  // start SLIDER

  .slider {
    &__item {
      height: auto;
    }

    &__item-inner {
      flex-direction: column-reverse;
      align-items: center;
      padding: 36px 18px 30px;
    }

    &__title {
      max-width: 100%;

      &::after {
        left: auto;
        right: 0;
      }
    }

    &__img {
      position: relative;
      transform: translateY(0);
      margin-bottom: 45px;
    }

    .slick-track {
      height: 442px;
    }

    .slick-arrow {
      display: none !important;
    }
  }

  // end SLIDER
}

@media screen and (max-width: 900px) {
  // start FILTER

  .filter {
    display: none;

    &--active {
      display: block;
      position: fixed;
      max-width: 100vw;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba($color: #000, $alpha: 0.3);
      border-radius: 0;
      z-index: 50;
    }

    &__inner {
      margin: calc((100vh - 624px) / 2) auto;
      max-width: 400px;
    }

    &__form {
      grid-template-columns: repeat(2, 1fr);
      padding: 11px 9px;
    }

    &__label {
      padding: 16px 15px;
    }

    &__text {
      display: none;
    }
  }

  // end FILTER

  // start CATALOG

  .catalog {
    &__top {
      flex-direction: column;
      align-items: start;
      padding: 0 18px;
    }

    .title {
      width: 100%;
      border-bottom: 1px solid $text;
      padding-bottom: 24px;
    }

    &__filters {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 15px;
    }

    &__options {
      display: block;
    }

    &__wrapper {
      max-width: calc(100% - 40px);
    }

    &__text {
      max-width: calc(100% - 40px);
    }
  }

  // end CATALOG
}

@media screen and (max-width: 630px) {
  // start HEADER

  .header {
    &__btn {
      margin-left: auto;
    }
  }

  .menu {
    display: none;
  }

  .user-nav {
    margin-left: 0;
  }

  // end HEADER

  // start SLIDER

  .slider {
    &__title {
      font-size: 28px;

      &::after {
        height: 90px;
        width: 147px;
        left: 212px;
      }
    }

    &__text {
      font-size: 12px;
    }

    &__img {
      object-fit: cover;
    }
  }

  // end SLIDER

  // start CATALOG

  .catalog {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // end CATALOG
}

@media screen and (max-width: 460px) {
  // start SLIDER

  .slider {
    &__title::after {
      display: none;
    }

    &__img {
      height: 141px;
    }
  }

  // end SLIDER

  // start CATALOG

  .catalog {
    &__list {
      font-size: 10px;
    }

    &__wrapper {
      max-width: calc(100% - 20px);
    }

    &__text {
      max-width: calc(100% - 20px);
    }
  }

  // end CATALOG
}
