.quality {
  position: relative;
  background-color: $light-pink;
  border-radius: 16px;
  text-align: center;
  padding: 35px 0 48px;
  margin-bottom: 45px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 178px;
    height: 216px;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    background-image: url("../images/quality-left.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &::after {
    content: "";
    position: absolute;
    width: 180px;
    height: 193px;
    top: 50%;
    right: 42px;
    transform: translateY(-50%);
    background-image: url("../images/quality-right.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .title {
    font-size: 44px;
    margin-bottom: 26px;
  }

  &__text {
    @extend %inter-400;
    font-size: 16px;
    color: $gray;
    max-width: 687px;
    line-height: 125%;
    margin: 0 auto 29px;
  }

  &__link {
    display: block;
    padding: 16px 30px;
    color: $white;
    background-color: $brown;
    border-radius: 56px;
    max-width: 266px;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    height: 50px;
  }

  &__img {
    display: none;
  }
}
