$white: #fff;
$black: #191919;
$dark-gray: #3d4249;
$light-gray: #dbe1ed;
$gray: #6a6a6a;
$brown: #a16341;
$bg: #f8f8f8;
$light-pink: #ffebe0;
$text: #728299;

%inter-500 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

%playfair-700 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
