@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";

// start HEADER

.header {
  &-top {
    background-color: $white;
    padding: 29px 0;
    margin-bottom: 27px;
  }

  &-top__inner {
    display: flex;
    align-items: center;
    color: $dark-gray;
  }

  &__btn {
    position: relative;
    padding: 13px 20px 14px 51px;
    margin-right: 33px;
    border-radius: 45px;
    color: $white;
    background-color: $brown;
    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 19px;
      width: 18px;
      height: 12px;
      background-image: url("../images/menu.svg");
      background-size: cover;
    }
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.logo {
  width: 119px;
  height: auto;
  margin-right: 39px;
}

.user-nav {
  position: relative;
  padding: 13px 20px 14px 51px;
  margin-left: auto;
  border-radius: 45px;
  border: 1px solid $light-gray;
  color: $dark-gray;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    width: 24px;
    height: 24px;
    background-image: url("../images/user.svg");
    background-size: cover;
  }
}

// end HEADER

// start SLIDER

.slider {
  padding-bottom: 40px;

  &__item {
    width: 100%;
    height: 300px;
    transform: scale(0.9);
  }

  .container {
    height: 100%;
  }

  &__item-inner {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 59px 47px 61px;
    background-color: $light-pink;
    border-radius: 16px;
  }

  &__title {
    @extend %playfair-700;

    position: relative;
    font-size: 44px;
    line-height: 100%;
    max-width: 305px;
    margin-bottom: 52px;
    color: $black;

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: var(--width);
      height: var(--height);
      bottom: var(--bottom);
      left: var(--left);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-image: var(--img);
      z-index: 10;
    }
  }

  &__text {
    @extend %inter-400;

    font-size: 16px;
    max-width: 543px;
    color: $gray;
  }

  &__img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 300px;
    object-fit: contain;
  }

  @extend %slider;

  .slick-track {
    height: 300px;
  }
}

// end SLIDER

// start MAIN

.main {
  margin: 23px 0 45px;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 14px;
  }
}

// end MAIN

// start FILTER

.filter {
  border-radius: 16px;
  background-color: $white;
  padding: 29px 30px;
  max-width: 285px;

  .title {
    margin-bottom: 28px;
  }

  &__form {
    position: relative;
    padding: 16px 8px 40px;
    background-color: $bg;
    border-radius: 14px;
    height: calc(100% - 50px);
  }

  &__label {
    position: relative;
    display: block;
    cursor: pointer;
    color: $text;
    padding: 0 15px;
    margin-bottom: 18px;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &__input:checked + .filter__label,
  &__label:has(.filter__input:checked) {
    padding: 16px 15px;
    color: $black;
    background-color: $white;
    border-radius: 10px;
  }

  &__text {
    @extend %inter-400;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 178px;
    bottom: 23px;
    color: $gray;
  }
}

// end FILTER

//  start CATALOG

.catalog {
  border-radius: 16px;
  background-color: $white;
  padding: 29px 30px;
  width: 100%;

  &-slider {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000, $alpha: 0.3);
    top: 0;
    left: 0;
    z-index: 30;
    transition: opacity 0.3s ease;

    &--active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-slider__btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 18px;
    right: 18px;
    cursor: pointer;
    z-index: 40;
  }

  &-slider__inner {
    position: relative;
    width: 960px;
    height: 624px;
    background-color: $white;
    border-radius: 10px;
    margin: calc((100vh - 624px) / 2) auto;
  }

  &-slider__list {
    @extend %slider;
    width: 100%;
    height: 100%;

    .slick-dots {
      bottom: 35px;
    }

    .slick-arrow {
      top: auto;
      bottom: 8px;
    }

    .slick-prev {
      left: 323px;
    }

    .slick-next {
      right: 323px;
    }
  }

  &-slider__item {
    padding: 30px;
    height: 580px;
  }

  &-slider__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 28px;
  }

  &__dropdown {
    position: relative;
  }

  &__btn {
    position: relative;
    color: $gray;
    background-color: transparent;
    border: none;
    padding-right: 22px;
    cursor: pointer;

    &--active + .catalog__form {
      opacity: 0.9;
      pointer-events: all;
    }

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 5px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  &__form {
    position: absolute;
    padding: 8px;
    width: 163px;
    background-color: $bg;
    color: $gray;
    border-radius: 5px;
    margin-top: 8px;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
  }

  &__label {
    display: block;
    text-align: left;
    cursor: pointer;

    & + .catalog__label {
      margin-top: 8px;
    }
  }

  &__input {
    width: 0;
    height: 0;
    position: absolute;
  }

  &__label:has(input:checked) {
    color: $black;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 21px;
  }

  &__item {
    position: relative;
    border-radius: 14px;
    background-color: $bg;
    width: 200px;
    padding: 17px 0 16px;
    overflow: hidden;

    &:hover {
      .catalog__cart-btn {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }
    }

    &--new {
      position: relative;
      &::before {
        content: "new";
        position: absolute;
        @extend %inter-700;
        width: 46px;
        height: 46px;
        top: 14px;
        left: 14px;
        font-size: 11px;
        color: $tag-new;
        padding: 15px 11px;
        border-radius: 4px;
        text-transform: uppercase;
        background-image: url("../images/tag-new.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
  }

  &__wrapper {
    @extend %inter-400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text;
    max-width: 168px;
    padding-bottom: 14px;
    margin: 0 auto;

    &--title {
      color: $black;
      font-size: 14px;
      padding-top: 14px;
      border-top: 1px solid $text;
      margin: 0 auto;
    }
  }

  &__title {
    @extend %inter-500;
  }

  &__price {
    @extend %inter-600;

    &::after {
      content: "₽";
      @extend %inter-400;
      font-size: 10px;
      font-weight: 500;
      color: $dark-gray;
    }
  }

  &__text {
    font-size: 12px;
    color: $text;
    margin: 0 auto;
    max-width: 168px;
  }

  &__cart-btn {
    position: absolute;
    width: 100%;
    height: 44px;
    bottom: 0;
    background-color: $brown;
    border: none;
    border-radius: 0 0 14px 14px;
    color: $white;
    cursor: pointer;
    padding-left: 35px;
    z-index: 10;
    transform: translateY(101%);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    z-index: 20;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      left: 48px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/cart.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}

// end CATALOG

// start FOOTER

.footer {
  background-color: $black;
  color: $gray;

  &__inner {
    display: flex;
    padding: 29px 0 28px;
  }

  &__privacy {
    margin-left: auto;

    &:hover {
      border-bottom: 1px solid $gray;
    }
  }

  &__number {
    margin-left: 31px;
    &:hover {
      border-bottom: 1px solid $gray;
    }
  }
}

// end FOOTER

@import "media";
