@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";

// start HEADER

.header {
  &-top {
    background-color: $white;
    padding: 29px 0;
    margin-bottom: 27px;
  }

  &-top__inner {
    display: flex;
    align-items: center;
    color: $dark-gray;
  }

  &__btn {
    position: relative;
    padding: 13px 20px 14px 51px;
    margin-right: 33px;
    border-radius: 45px;
    color: $white;
    background-color: $brown;
    border: none;

    &--line {
      position: absolute;
      width: 18px;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      left: 19px;
      background-color: #fff;

      &:nth-child(1) {
        transform: translateY(calc(-50% - 5px));
      }

      &:nth-child(3) {
        transform: translateY(calc(-50% + 5px));
      }
    }
  }

  &__dropdown {
    display: none;
    position: relative;
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
    padding: 20px;
    border: 1px solid $brown;
    border-radius: 50%;
    background-color: $light-brown;
    cursor: pointer;

    &--line {
      position: absolute;
      background-color: $brown;
      width: 18px;
      height: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $brown;

      &:nth-child(1) {
        transform: translate(-50%, calc(-50% - 5px));
      }

      &:nth-child(3) {
        transform: translate(-50%, calc(-50% + 5px));
      }
    }
  }

  &__close {
    display: none;
    position: absolute;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    top: 100px;
    right: 50px;
    cursor: pointer;

    span {
      position: absolute;
      top: 8px;
      left: 0;
      width: 19px;
      height: 2px;
      background-color: $black;
    }

    span:first-child {
      transform: rotate(45deg);
    }

    span:last-child {
      transform: rotate(-45deg);
    }
  }
}

.menu {
  position: relative;
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.logo {
  width: 119px;
  height: auto;
  margin-right: 39px;
}

.user-nav {
  position: relative;
  padding: 13px 20px 14px 51px;
  margin-left: auto;
  border-radius: 45px;
  border: 1px solid $light-gray;
  color: $dark-gray;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    width: 24px;
    height: 24px;
    background-image: url("../images/user.svg");
    background-size: cover;
  }
}

// end HEADER

// start SLIDER

.slider {
  padding-bottom: 40px;

  &__item {
    width: 100%;
    height: 300px;
    transform: scale(0.9);
  }

  .container {
    height: 100%;
  }

  &__item-inner {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 59px 47px 61px;
    background-color: $light-pink;
    border-radius: 16px;
  }

  &__title {
    @extend %playfair-700;

    position: relative;
    font-size: 44px;
    line-height: 100%;
    max-width: 305px;
    margin-bottom: 52px;
    color: $black;

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: var(--width);
      height: var(--height);
      bottom: var(--bottom);
      left: var(--left);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-image: var(--img);
      z-index: 10;
    }
  }

  &__text {
    @extend %inter-400;

    font-size: 16px;
    max-width: 543px;
    color: $gray;
  }

  &__img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 300px;
    object-fit: contain;
  }

  @extend %slider;

  .slick-track {
    height: 300px;
  }
}

// end SLIDER

// start MAIN

.main {
  margin: 23px 0 45px;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 14px;
  }
}

// end MAIN

// start FILTER

.filter {
  &__inner {
    border-radius: 16px;
    background-color: $white;
    padding: 29px 30px;
    max-width: 285px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }

  &__btn {
    display: none;
    position: relative;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;

    span {
      position: absolute;
      top: 8px;
      left: 0;
      width: 19px;
      height: 2px;
      background-color: $black;
    }

    span:first-child {
      transform: rotate(45deg);
    }

    span:last-child {
      transform: rotate(-45deg);
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    padding: 16px 8px 40px;
    background-color: $bg;
    border-radius: 14px;
    height: calc(100% - 50px);
  }

  &__label {
    position: relative;
    display: block;
    cursor: pointer;
    color: $text;
    padding: 0 15px;
    margin-bottom: 18px;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &__input:checked + .filter__label,
  &__label:has(.filter__input:checked) {
    padding: 16px 15px;
    color: $black;
    background-color: $white;
    border-radius: 10px;
  }

  &__text {
    @extend %inter-400;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 178px;
    bottom: 23px;
    color: $gray;
  }
}

// end FILTER

//  start CATALOG

.catalog {
  border-radius: 16px;
  background-color: $white;
  padding: 29px 30px;
  width: 100%;

  &-slider {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000, $alpha: 0.3);
    top: 0;
    left: 0;
    z-index: 30;
    transition: opacity 0.3s ease;

    &--active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-slider__btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 18px;
    right: 18px;
    cursor: pointer;
    z-index: 40;
  }

  &-slider__inner {
    position: relative;
    width: 960px;
    height: 624px;
    background-color: $white;
    border-radius: 10px;
    margin: calc((100vh - 639px) / 2) auto;
  }

  &-slider__list {
    @extend %slider;
    width: 100%;
    height: 100%;

    .slick-dots {
      bottom: 35px;
    }

    .slick-arrow {
      top: auto;
      bottom: 3px;
    }

    .slick-prev {
      left: 323px;
    }

    .slick-next {
      right: 323px;
    }
  }

  &-slider__item {
    padding: 30px;
    height: 580px;
  }

  &-slider__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 28px;
  }

  &__dropdown {
    position: relative;
  }

  &__btn {
    position: relative;
    color: $gray;
    background-color: transparent;
    border: none;
    padding-right: 22px;
    cursor: pointer;

    &--active + .catalog__form {
      opacity: 0.9;
      pointer-events: all;
    }

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 5px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  &__form {
    position: absolute;
    padding: 8px;
    width: 163px;
    background-color: $bg;
    color: $gray;
    border-radius: 5px;
    margin-top: 8px;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
  }

  &__label {
    display: block;
    text-align: left;
    cursor: pointer;

    & + .catalog__label {
      margin-top: 8px;
    }
  }

  &__input {
    width: 0;
    height: 0;
    position: absolute;
  }

  &__label:has(input:checked) {
    color: $black;
  }

  &__options {
    display: none;
    position: relative;
    background-color: transparent;
    border: none;
    color: $gray;
    cursor: pointer;
    padding-left: 32px;

    &::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/options.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 21px;
  }

  &__item {
    position: relative;
    border-radius: 14px;
    background-color: $bg;
    width: 200px;
    padding: 17px 0 16px;
    overflow: hidden;
    margin: 0 auto;

    &:hover {
      .catalog__cart-btn {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }
    }

    &--new {
      position: relative;
      &::before {
        content: "new";
        position: absolute;
        @extend %inter-700;
        width: 46px;
        height: 46px;
        top: 14px;
        left: 14px;
        font-size: 11px;
        color: $tag-new;
        padding: 15px 11px;
        border-radius: 4px;
        text-transform: uppercase;
        background-image: url("../images/tag-new.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
  }

  &__wrapper {
    @extend %inter-400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text;
    max-width: 168px;
    padding-bottom: 14px;
    margin: 0 auto;

    &--title {
      color: $black;
      font-size: 14px;
      padding-top: 14px;
      border-top: 1px solid $text;
      margin: 0 auto;
    }
  }

  &__title {
    @extend %inter-500;
  }

  &__price {
    @extend %inter-600;

    &::after {
      content: "₽";
      @extend %inter-400;
      font-size: 10px;
      font-weight: 500;
      color: $dark-gray;
    }
  }

  &__text {
    font-size: 12px;
    color: $text;
    margin: 0 auto;
    max-width: 168px;
  }

  &__cart-btn {
    position: absolute;
    width: 100%;
    height: 44px;
    bottom: 0;
    background-color: $brown;
    border: none;
    border-radius: 0 0 14px 14px;
    color: $white;
    cursor: pointer;
    padding-left: 35px;
    z-index: 10;
    transform: translateY(101%);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    z-index: 20;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      left: 48px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/cart.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}

// end CATALOG

// start FOOTER

.footer {
  background-color: $black;
  color: $gray;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 29px 0 28px;
    gap: 11px;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
  }

  &__privacy,
  &__number {
    transition: border-bottom 0.1s ease;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: $gray;
    }
  }
}
// end FOOTER

// start LOGIN PAGES

.auth {
  color: $text;
  max-width: 507px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 43px 35px;
  background-color: $white;
  border-radius: 16px;
  text-align: center;

  .title {
    font-size: 30px;
    color: $black;
    margin-bottom: 17px;
  }

  &__subtitle {
    @extend %inter-400;
    max-width: 405px;
    margin: 0 auto 35px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    position: relative;
    margin: 0 auto;
    max-width: 420px;
    padding: 15px 0;
    width: 100%;
    height: 50px;
    border-radius: 56px;
    border: none;
    color: $white;
    font-size: 16px;
    text-align: center;
    transition: opacity 0.2s;
    margin-bottom: 16px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &::before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    &--vk {
      background-color: $blue;

      &::before {
        width: 26px;
        height: 14px;
        background-image: url("../images/vk.svg");
      }
    }

    &--google {
      background-color: $red;

      &::before {
        width: 21px;
        height: 21px;
        background-image: url("../images/google.svg");
      }
    }

    &--mail,
    &--number {
      background-color: $white;
      color: $text;
      border: 1px solid $text;
      transition: background-color 0.3s;

      &:hover {
        background-color: $light-gray;
      }
    }

    &--mail {
      &::before {
        width: 21px;
        height: 17px;
        background-image: url("../images/mail.svg");
      }
    }

    &--number {
      &::before {
        width: 24px;
        height: 24px;
        background-image: url("../images/number.svg");
      }
    }

    &--submit {
      background-color: $brown;
      text-align: center;
      margin-top: 27px;
    }
  }

  &__line {
    display: flex;
    align-items: center;
    margin: 36px 0;

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
    }

    &::before {
      left: 0;
      background-image: repeating-linear-gradient(
        to right,
        $text 0 11px,
        transparent 11px 22px
      );
    }

    &::after {
      right: 0;
      background-image: repeating-linear-gradient(
        to right,
        $text 11px 22px,
        transparent 22px 33px
      );
    }

    span {
      padding: 0 17px;
      background-color: $white;
    }
  }

  &__text {
    @extend %inter-400;
    font-size: 12px;
    max-width: 345px;
    margin: 35px auto 0;
  }

  &__form {
    position: relative;
    margin-top: 10px;
  }

  &__input {
    width: 100%;
    height: 50px;
    border-radius: 56px;
    border: 1px solid $text;
    font-size: 16px;
    padding: 16px 27px;

    & + & {
      margin-top: 18px;
    }
  }

  &__input--tel {
    &:not(:placeholder-shown) + .auth__btn--tel {
      display: block;
    }
  }

  &__btn--tel {
    display: none;
    position: absolute;
    width: 144px;
    top: 0;
    right: 0;
    text-align: center;
    background-color: $brown;
  }

  &__link {
    display: block;
    margin-top: 36px;
  }
}

.form-code {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__input {
    @extend %inter-400;

    font-size: 30px;
    width: 55px;
    height: 56px;
    border: none;
    border-bottom: 1px solid $text;
    text-align: center;
    margin-top: 43px;
    color: $text;

    &:focus {
      outline: transparent;
      border-bottom-color: $gray;
    }
  }
}
// end LOGIN PAGES

@import "media";
