<section class="auth">
  <h1 class="title">
    Авторизация
  </h1>

  <form action="#" class="auth__form">
    <input type="tel" class="auth__input auth__input--tel" placeholder="Номер телефона">
    <button type="submit" class="auth__btn auth__btn--tel">
      Отправить код
    </button>
  </form>

  {%include "form-code.njk" %}

  <p class="auth__text">
    Нажимая на кнопки “Продолжить”, вы соглашаетесь с политикой конфиденциальности
  </p>
  <div class="auth__line">
    <span>Или</span>
  </div>
  <a href="#" class="auth__btn auth__btn--vk">
    Продолжить с VK
  </a>
  <a href="#" class="auth__btn auth__btn--google">
    Продолжить с Google
    <a href="login-mail.html" class="auth__btn auth__btn--mail">
      Продолжить с почтой
    </a>
</section>