<section class="auth">
  <h1 class="title">
    Авторизация
  </h1>
  <p class="auth__subtitle">
    Кварк, как следует из совокупности экспериментальных наблюдений, квантуем. Многочисленные расчеты
    предсказывают
  </p>
  <a href="#" class="auth__btn auth__btn--vk">
    Продолжить с VK
  </a>
  <a href="#" class="auth__btn auth__btn--google">
    Продолжить с Google
  </a>
  <div class="auth__line">
    <span>Или</span>
  </div>
  <a href="login-mail.html" class="auth__btn auth__btn--mail">
    Продолжить с почтой
  </a>
  <a href="login-number.html" class="auth__btn auth__btn--number">
    По номеру телефона
  </a>
  <p class="auth__text">
    Нажимая на кнопки “Продолжить”, вы соглашаетесь с политикой конфиденциальности
  </p>

</section>