<div class="catalog-slider">
  <div class="catalog-slider__inner">
    <button class="catalog-slider__btn">
      <img src="images/close.svg" alt="закрити" class="catalog-slider__img">
    </button>
    <ul class="catalog-slider__list">

    </ul>
  </div>
</div>