<section class="catalog">
  <div class="catalog__top">
    <h2 class="title">
      Каталог
    </h2>

    <div class="catalog__filters">
      <div class="catalog__dropdown">
        <button class="catalog__btn">
          Сначала дешевле
        </button>
        <form action="#" class="catalog__form">
          <label class="catalog__label">
            <input type="radio" class="catalog__input" id="filter-1" name="catalog" checked>
            Сначала дешевле
          </label>
          <label class="catalog__label">
            <input type="radio" class="catalog__input" id="filter-2" name="catalog">
            Сначала дороже
          </label>
          <label class="catalog__label">
            <input type="radio" class="catalog__input" id="filter-3" name="catalog">
            Сначала новые
          </label>
          <label class="catalog__label">
            <input type="radio" class="catalog__input" id="filter-4" name="catalog">
            Сначала популярные
          </label>
        </form>
      </div>
      <button class="catalog__options">
        Меню
      </button>
    </div>
  </div>

  <ul class="catalog__list">
    <li class="catalog__item catalog__item--new">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item catalog__item--new" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
    <li class="catalog__item" id="catalog__item-1" data-count="4">
      <a href="#" class="catalog__link">
        <img src="/images/catalog/item_1/image_1.png" alt="тортик" class="catalog__img">
        <div class="catalog__wrapper">
          <p class="catalog__characteristic">
            <span>200</span> гр.
          </p>
          <p class="catalog__characteristic">
            <span>500</span> ккал.
          </p>
        </div>
        <div class="catalog__wrapper catalog__wrapper--title">
          <h3 class="catalog__title">
            Тортик
          </h3>
          <span class="catalog__price">
            300
          </span>
        </div>
        <div class="catalog__text">
          Зеркало синхронизует межатомный магнит.
        </div>
        <button class="catalog__cart-btn">
          В корзину
        </button>
      </a>
    </li>
  </ul>
</section>