<div class="catalog-slider">
  <div class="catalog-slider__inner">
    <button class="catalog-slider__btn">
      <img src="images/close.svg" alt="закрити" class="catalog-slider__img">
    </button>
    <ul class="catalog-slider__list">
      <li class="catalog-slider__item">
        <img class="catalog-slider__img" src="images/catalog/item_1/image_1.png" alt="тортик">
      </li>
      <li class="catalog-slider__item">
        <img class="catalog-slider__img" src="images/catalog/item_1/image_2.png" alt="тортик">
      </li>
      <li class="catalog-slider__item">
        <img class="catalog-slider__img" src="images/catalog/item_1/image_3.png" alt="тортик">
      </li>
      <li class="catalog-slider__item">
        <img class="catalog-slider__img" src="images/catalog/item_1/image_4.png" alt="тортик">
      </li>
    </ul>
  </div>
</div>