</div>

<section class="control">
<div class="container">
  <h1 class="title">
    Контроль качества
  </h1>

  <ul class="control__list">
    <li class="control__item">
      <img src="images/control01.svg" alt="ингредиенты" class="control__img">
      <h2 class="control__title">
        Лучшие ингредиенты
      </h2>
    </li>

    <span>
      <img src="images/arrow.svg" alt="стрелка">
    </span>

    <li class="control__item">
      <img src="images/control02.svg" alt="ингредиенты" class="control__img">
      <h2 class="control__title">
        Опытные кондитеры
      </h2>
    </li>

    <span>
      <img src="images/arrow.svg" alt="стрелка">
    </span>

    <li class="control__item">
      <img src="images/control03.svg" alt="ингредиенты" class="control__img">
      <h2 class="control__title">
        Хорошая рецептура
      </h2>
    </li>
  </ul>
</div>
</section>

<div class="container">