<section class="contact">
  <h2 class="title">
    Форма связи с менеджером
  </h2>

    <form action="#" class="contact__form">
      <input type="text" class="contact__input" placeholder="Ваше имя">
      <input type="email" class="contact__input" placeholder="Email">
      <input type="email" class="contact__input" placeholder="Email">
      
      <button class="contact__btn">
        Отправить
      </button>
    </form>

</section>