<section class="documents">
  <div class="documents__inner">
    <h2 class="title"> Документы</h2>
    <p class="documents__text">
      Турбулентность, по данным астрономических наблюдений, сжимает субсветовой вихрь. Лазер отражает фронт.
    </p>
    <a href="#" class="documents__btn">
      Наша продукция
    </a>
  </div>
  <ul class="documents__list">
    <li class="documents__item">
      <a href="#" class="documents__link">
        <img src="images/documents.jpg" alt="макаруни" class="documents__img">
      </a>
    </li>
    <li class="documents__item">
      <a href="#" class="documents__link"></a>
    </li>
    <li class="documents__item">
      <a href="#" class="documents__link"></a>
    </li>
    <li class="documents__item">
      <a href="#" class="documents__link"></a>
    </li>
  </ul>
</section>