<section class="filter">
  <div class="filter__inner">
    <div class="filter__top">
      <h2 class="title">
        Меню
      </h2>

      <button class="filter__btn">
        <span></span>
        <span></span>
        Закрити
      </button>
    </div>
    <form action="#" class="filter__form">
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-1" name="catalog" checked>
        Летнее меню
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-2" name="catalog">
        Кофе и чай
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-3" name="catalog">
        Комбо
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-4" name="catalog">
        Shoko Go
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-5" name="catalog">
        Конструктор завтраков
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-6" name="catalog">
        Завтраки весь день
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-7" name="catalog">
        Блинчики
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-8" name="catalog">
        Пицца от Eazzy Pizza & Gelato
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-9" name="catalog">
        Супы
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-10" name="catalog">
        Горячие блюда
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-11" name="catalog">
        Сэндвичи
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-12" name="catalog">
        Только в доставке
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-13" name="catalog">
        Салаты
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-14" name="catalog">
        Десерты
      </label>
      <label class="filter__label">
        <input type="radio" class="filter__input" id="filter-15" name="catalog">
        Добавки и соусы
      </label>
    </form>
  </div>

</section>