  </div>
</main>

<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <p class="footer__copy">
        © Кондитерские изделия«Кристалл», 2000–2023
      </p>
      <div class="footer__links">
        <a href="#" class="footer__privacy">
          Политика конфиденциальности
        </a>
        <a href="tel:+78412709900" class="footer__number">
          +7 (8412) 709-900
        </a>
      </div>
    </div>
  </div>
</footer>
<script src="./js/main.min.js"></script>
</body>

</html>