<form action="#" class="form-code">
  <input type="text" class="form-code__input" maxlength="1">
  <input type="text" class="form-code__input" maxlength="1">
  <input type="text" class="form-code__input" maxlength="1">
  <input type="text" class="form-code__input" maxlength="1">
  <input type="text" class="form-code__input" maxlength="1">
</form>