<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css">
  <title>{{ title }}</title>
</head>

<body>
  <header class="header">
    <nav class="header-top">
      <div class="container">
        <div class="header-top__inner">

          <a href="index.html" class="logo">
            <img src="images/logo.png" alt="логотип" class="logo__img">
          </a>

          <nav class="menu">
            <button class="header__dropdown">
              <span class="header__dropdown--line"></span>
              <span class="header__dropdown--line"></span>
              <span class="header__dropdown--line"></span>
            </button>
            <ul class="menu__list">
              <button class="header__btn">
                <span class="header__btn--line"></span>
                <span class="header__btn--line"></span>
                <span class="header__btn--line"></span>
                Каталог
              </button>
              <li class="menu__item">
                <a href="sales.html" class="menu__link">
                  Оптовые продажи
                </a>
              </li>
              <li class="menu__item">
                <a href="retail.html" class="menu__link">
                  Продажи в рознице
                </a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">
                  Контакты
                </a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">
                  Вакансии
                </a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">
                  Отзывы
                </a>
              </li>
              <button class="header__close">
                <span></span>
                <span></span>
                Закрити
              </button>
            </ul>
          </nav>



          <a href="login.html" class="user-nav">
            Личный кабинет
          </a>
        </div>
      </div>
    </nav>
  </header>

  <main class="main">
    <div class="container">