<section class="quality">
  <h1 class="title">Качество</h1>
  <p class="quality__text">
    Турбулентность, по данным астрономических наблюдений, сжимает субсветовой
    вихрь. Лазер отражает фронт. Волновая тень, вследствие квантового характера
  </p>
  <a href="#" class="quality__link"> Связаться с менеджером </a>
</section>