<section class="auth">
  <h1 class="title">
    Восстановление пароля
  </h1>

  <form action="#" class="auth__form">
    <input type="email" class="auth__input auth__input--mail" placeholder="Почта">
    <button type="submit" class="auth__btn auth__btn--mail">
      Отправить код
    </button>
  </form>

  {%include "form-code.njk" %}

  <a href="login.html" class="auth__link">
    Авторизация
  </a>
</section>