<section class="auth">
  <h1 class="title">
    Восстановление пароля
  </h1>

  <form action="#" class="auth__form">
    <input type="password" class="auth__input" placeholder="Пароль">
    <input type="password" class="auth__input" placeholder="Подтвердите пароль">
    <button type="submit" class="auth__btn auth__btn--submit">
      Изменить пароль
    </button>
  </form>

</section>