<section class="retail">
  <h1 class="title">Продажи в рознице</h1>

  <ul class="retail__list">
    <li class="retail__item">
      <img src="images/retail.jpg" alt="Колаж" class="retail__img" />
      <div class="retail__inner">
        <div class="retail__details">
          <h2 class="title">Колаж</h2>
          <span class="retail__adress">Амурская улица, 22А</span>
          <span class="retail__date">Пн - Пт 9:00 - 19:00</span>
        </div>

        <button class="retail__btn">Забронировать продукцию</button>
      </div>
    </li>
    <li class="retail__item">
      <img src="images/retail.jpg" alt="Колаж" class="retail__img" />
      <div class="retail__inner">
        <div class="retail__details">
          <h2 class="title">Колаж</h2>
          <span class="retail__adress">Амурская улица, 22А</span>
          <span class="retail__date">Пн - Пт 9:00 - 19:00</span>
        </div>

        <button class="retail__btn">Забронировать продукцию</button>
      </div>
    </li>
    <li class="retail__item">
      <img src="images/retail.jpg" alt="Колаж" class="retail__img" />
      <div class="retail__inner">
        <div class="retail__details">
          <h2 class="title">Колаж</h2>
          <span class="retail__adress">Амурская улица, 22А</span>
          <span class="retail__date">Пн - Пт 9:00 - 19:00</span>
        </div>

        <button class="retail__btn">Забронировать продукцию</button>
      </div>
    </li>
    <li class="retail__item">
      <img src="images/retail.jpg" alt="Колаж" class="retail__img" />
      <div class="retail__inner">
        <div class="retail__details">
          <h2 class="title">Колаж</h2>
          <span class="retail__adress">Амурская улица, 22А</span>
          <span class="retail__date">Пн - Пт 9:00 - 19:00</span>
        </div>

        <button class="retail__btn">Забронировать продукцию</button>
      </div>
    </li>
    <li class="retail__item">
      <img src="images/retail.jpg" alt="Колаж" class="retail__img" />
      <div class="retail__inner">
        <div class="retail__details">
          <h2 class="title">Колаж</h2>
          <span class="retail__adress">Амурская улица, 22А</span>
          <span class="retail__date">Пн - Пт 9:00 - 19:00</span>
        </div>

        <button class="retail__btn">Забронировать продукцию</button>
      </div>
    </li>
  </ul>
</section>
