<section class="sales">
  <div class="sales__inner">
    <h1 class="title">
      Оптовые продажи
    </h1>
    <p class="sales__text">
      Вы всегда можете приобрести нашу продукцию в следующих магазинах:
    </p>
    <a href="#" class="sales__link">
      Связаться с менеджером
    </a>
  </div>
  <ul class="sales__list">
    <li class="sales__item">
      <img src="images/brands/1.svg" alt="Лента" class="sales__img">
    </li>
    <li class="sales__item">
      <img src="images/brands/2.svg" alt="Магнит" class="sales__img">
    </li>
    <li class="sales__item">
      <img src="images/brands/3.svg" alt="Караван" class="sales__img">
    </li>
    <li class="sales__item">
      <img src="images/brands/4.svg" alt="Самокат" class="sales__img">
    </li>
    <li class="sales__item">
      <img src="images/brands/5.svg" alt="Скидкино" class="sales__img">
    </li>
  </ul>
</section>