<ul class="slider">
  <li class="slider__item">
    <div class="container">
      <div class="slider__item-inner">

        <div class="slider__text-wrap">
          <h1 class="slider__title" style="
                --img: url('../images/slider/draw_01.svg');
                --height: 130px;
                --width: 445px;
                --bottom: -21px;
                --left: -4px;
                ">
            Каждую пятницу 1+1
          </h1>

          <p class="slider__text">
            В соответствии с принципом неопределенности, возмущение плотности синхронизует солитон. Расслоение
            синхронно.
          </p>

        </div>
        <img src="images/slider/image_01.png" alt="торты" class="slider__img">
      </div>
  </li>
  <li class="slider__item">
    <div class="container">
      <div class="slider__item-inner">

        <div class="slider__text-wrap">
          <h1 class="slider__title" style="
                --img: url('../images/slider/draw_02.svg');
                --height: 181px;
                --width: 264px;
                --bottom: -49px;
                --left: 400px;

                max-width: 655px;
                ">
            Для оптовых покупателей специальные ценовые предложения
          </h1>

          <p class="slider__text">
            Узнай больше в личном кабинете
          </p>

        </div>
        <img src="images/slider/image_02.png" alt="торты" class="slider__img">
      </div>
  </li>
  <li class="slider__item">
    <div class="container">
      <div class="slider__item-inner">

        <div class="slider__text-wrap">
          <h1 class="slider__title" style="
                --img: url('../images/slider/draw_03.svg');
                --height: 137px;
                --width: 295px;
                --bottom: -32px;
                --left: 350px;

                max-width: 655px;
                ">
            Закажи на 65 тыс. в месяц
            получи бесплатно пирожных
          </h1>

          <p class="slider__text">
            Или любой другой продукции на 3000руб
          </p>

        </div>
        <img src="images/slider/image_03.png" alt="торты" class="slider__img">
      </div>
  </li>
</ul>