</div>

<section class="suppliers">
<div class="container">
  <div class="suppliers__inner">
    <h1 class="title">Поставщики</h1>

    <ul class="suppliers__list">
      <li class="suppliers__item">
        <img
            src="images/suppliers01.svg"
            alt="логоипсум"
            class="suppliers__img"
/>
      </li>
      <li class="suppliers__item">
        <img
            src="images/suppliers02.svg"
            alt="логоипсум"
            class="suppliers__img"
/>
      </li>
      <li class="suppliers__item">
        <img
            src="images/suppliers01.svg"
            alt="логоипсум"
            class="suppliers__img"
/>
      </li>
      <li class="suppliers__item">
        <img
            src="images/suppliers02.svg"
            alt="логоипсум"
            class="suppliers__img"
/>
      </li>
      <li class="suppliers__item">
        <img
            src="images/suppliers01.svg"
            alt="логоипсум"
            class="suppliers__img"
/>
      </li>
      <li class="suppliers__item">
        <img
            src="images/suppliers02.svg"
            alt="логоипсум"
            class="suppliers__img"
/>
      </li>
      <li class="suppliers__item">
        <img
            src="images/suppliers01.svg"
            alt="логоипсум"
            class="suppliers__img"
/>
      </li>
      <li class="suppliers__item">
        <img
            src="images/suppliers02.svg"
            alt="логоипсум"
            class="suppliers__img"
/>
      </li>
      <li class="suppliers__item">
        <img
            src="images/suppliers01.svg"
            alt="логоипсум"
            class="suppliers__img"
/>
      </li>
      <li class="suppliers__item">
        <img
            src="images/suppliers02.svg"
            alt="логоипсум"
            class="suppliers__img"
/>
      </li>
      <li class="suppliers__item">
        <img
            src="images/suppliers01.svg"
            alt="логоипсум"
            class="suppliers__img"
/>
      </li>

    </ul>
  </div>
</div>
</section>

<div class="container">