{% set title = "Головна" %}
{% include "../partials/header.njk" %}

{%include "../partials/slider.njk"%}

<div class="main__inner">

  {%include "../partials/catalog-slider.njk" %}
  {%include "../partials/filter.njk" %}
  {%include "../partials/catalog.njk" %}

</div>

{%include "../partials/footer.njk" %}