{% set title = "Качество" %}
{% include "../partials/header.njk" %}

{% include "../partials/quality.njk" %}
{% include "../partials/suppliers.njk" %}
{% include "../partials/documents.njk" %}
{% include "../partials/control.njk" %}
{% include "../partials/contact.njk" %}

{% include "../partials/footer.njk" %}