{% set title = "Оптовые продажи" %}
{% include "../partials/header.njk" %}

  {% include "../partials/sales.njk" %} 
  {% include "../partials/condition.njk" %} 
  {% include "../partials/contact.njk" %} 

{% include "../partials/footer.njk" %}